PORT=3005
APP_VERSION=0.0.1
GITHUB_TOKEN=123
GEMINI_API_KEY=123
RETRY_DELAY=2000
NODE_ENV=development
LOG_LEVEL=debug
IS_LOCAL_LOG=false
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=1234
QDRANT_SEED_ID=123124dsad
OLLAMA_URL=http://localhost:11434
OLLAMA_KEEP_ALIVE=24h
# если есть nvidia карта с 2-3 гб свободного места, можно ставить OLLAMA_NUM_PARALLEL=4, если нет то OLLAMA_NUM_PARALLEL=1
OLLAMA_NUM_PARALLEL=1
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=1234

# флаг сборщика мусора для Node.js для работы ast парсера
NODE_OPTIONS="--expose-gc"